html{
    box-sizing: border-box;
    min-height: 100% !important;
    min-width: 1020px;
    background-color: #F5F4EB;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.name-row{
    box-sizing: inherit;
    overflow: hidden;
    float: left;
    width: 100%;
    font-weight: bold;
}

.site-header{
    margin-top: 50px;
    box-sizing: inherit;
    overflow: hidden;
    height: 20%;
    width: 95%;
}

.content{
    box-sizing: inherit;
    overflow: hidden;
    height: 100%;
    display: block;
    width: 95%;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.campus-name{
    margin-left: 4%;
    box-sizing: inherit;
    overflow: hidden;
    border-bottom: none;
    white-space: nowrap;
    padding-bottom: 0;
    display: block;
    float: left;
    margin-right: 35px;
    min-width: 320px;
    width: 23%;
}

.campus-logo-image{
    box-sizing: inherit;
    background: transparent;
    background: no-repeat left top;

    display: inline-block;
    width: 100% !important;
    float: left;
}

.title-text{
    box-sizing: inherit;
    float: left;
    font-size: 35px;
    color: rgb(0, 86, 172);
}

.site-name{
    box-sizing: inherit;
    overflow: hidden;
    float: left;
    margin-bottom: 0;
}

.home-content{
    box-sizing: inherit;
    padding-top: 100px;
    overflow: hidden;
    padding-bottom: 100px;
    margin: 0 8%;
    height: 100%;
    min-width: 900px;
    width: 80%;

}

.weather-wrapper{
    position: relative;
    padding-left: 43%;
    float: right;
    padding-top: 3%;
    padding-right: 7%;
    box-sizing: inherit;
    display: block;
    margin-right: 0;
    min-width: 400px !important;


}

.weather-forecast{
    box-sizing: inherit;
    width: 502px;
    border-bottom: solid 1px #d3d2d1;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.05);
    display: block;


}

.summary-wrapper{
    position: relative;
    padding-left: 5%;
    height: 10%;
    box-sizing: inherit;
    width: 30%;
    min-width: 300px;
    overflow: hidden;
    display: block;
}

.summary-box{
    box-sizing: inherit;
    border-bottom: solid 1px #d3d2d1;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.05);
}

.summary-title{
    box-sizing: inherit;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.summary-content{
    box-sizing: inherit
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

